{% extends 'common/base.html' %}
{% block title %}
    member
{% endblock %}
{% block main %}

    <div id="page-wrapper">

        <div class="header">
            <h1 class="page-header">
                成员信息
            </h1>
            <ol class="breadcrumb">
                <li><a href="/">主页</a></li>
                <li class="active">成员信息</li>
            </ol>

        </div>


        <div id="page-inner">

            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <b>用户名: </b> {{ data.username }} <br>
                            <br>
                            <b>性别: </b> <br>
                            <br>
                            <b>电话号码: </b> <br>
                            <br>
                            <b>所属宿舍ID: </b> <br>
                            <br>
                            <b>电子邮件地址: </b> {{ data.useremail }} <br>
                            <br>
                            <b>QQ号: </b> <br>
                            <br>
                            <b>提醒方法: </b> <br>
                            <br>
                            <a href="/changemember/" class="waves-effect waves-light btn">修改</a>

                            <div class="clearBoth"><br/></div>

                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>


{% endblock %}