{% extends 'common/base.html' %}
{% block title %}
    member
{% endblock %}
{% block main %}
    <div id="page-wrapper">

        <table>
            <tbody>
            <tr>
                <td>用户名:</td>
                <td><input name="" value="ABC" type="text"></td>
            </tr>
            <tr>
                <td>性别:</td>
                <td><input name="" value="男" type="text"></td>
            </tr>
            <tr>
                <td>所属宿舍ID:</td>
                <td><input name=""
                           value="铁道学院xxx" type="text" size="40"></td>
            </tr>
            <tr>
                <td>电话号码:</td>
                <td><input name="" value="555-555-5555"
                           type="text"></td>
            </tr>
            <tr>
                <td>电子邮件地址:</td>
                <td><input name=""
                           value="xxxxx" type="text" size="40"></td>
            </tr>
            <tr>
                <td>QQ号:</td>
                <td><input name="" value="8888888"
                           type="text" size="40"></td>
            </tr>
            <tr>
                <td>提醒方法:</td>
                <td><input name="" value="短信" type="text"></td>
            </tr>

            </tbody>
        </table>


    </div>


{% endblock %}