<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>提示信息</title>-->
<!--</head>-->
<!--<body>-->
<!--提示信息-->
<!--</body>-->
<!--</html>-->

{% extends 'common/base.html' %}
{% block title %}
    prompting
{% endblock %}
{% block main %}
<div id="page-wrapper">
  <div class="header">
                        <h1 class="page-header">
                           提示信息
                        </h1>
						<ol class="breadcrumb">
					  <li><a href="#">主页</a></li>
					  <li><a href="#">提示信息 </a></li>
					  <li class="active">信息</li>
					</ol>

		</div>
            <div id="page-inner">


			<div class="row">
			  <div class="col-md-6">

				  {% for p in promptingList %}
				  {% if p.state==0 %}
				   <div class="card">
					   <div class="card-content">
						   <div class="alert alert-success">
							   <strong>  {{ p.title[p.type1]  }} </strong> {{ p.content[p.type2]  }}
						   </div>
					   </div>
					   <div class="card-action">
						   <a class="waves-effect waves-light btn" href="{{ url_for('prompting.infConfirm2',b= p.type2) }}">信息确认</a>
					   </div>
				   </div>
				  {% endif %}
				  {% endfor %}

			  </div>

				<div class="col-md-6">
					<div class="card">
						<div class="card-action">
						    <b>历史记录</b>
						</div>
						{% for p in promptingList %}
						{% if p.state %}
					        <div class="card-content">
						       <div class="alert alert-success">
							      <strong>  {{ p.title[p.type1]  }} </strong> {{ p.content[p.type2]  }}
							   </div>
				            </div>
						{% endif %}
				        {% endfor %}
					</div>
				</div>

			</div>

 </div>
     </div>



{% endblock %}